
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddEmp</title>
</head>
<body>
    <div> 
        <form id="f1" method="post">
            Enter Employee Id:<br />
            <input type="text" name="Id"/><br />
            Enter Employee Name :<br />
            <input type="text" name="name"/><br />
            Enter Employee Job : <br />
            <input type="text" name="job"/><br />
            Enter Employee Salary: <br />
            <input type="text" name="Salary"/><br />
            <input type="submit" id="s" value="SUBMIT"/>
            <input type="reset" id="r" value="RESET"/>
        </form>
    </div>
</body>
</html>
