
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>DisplayEmp2</title>
</head>
<body>
    <div> 
        <table>
            <tr>
                <td>Id:</td>
                <td>@ViewData["Id"]</td>
            </tr>
            <tr>
                <td>Name:</td>
                <td>@ViewData["Name"]</td>
            </tr>
            <tr>
                <td>Emp Job:</td>
                <td>@ViewData["Job"]</td>
            </tr>
            <tr>
                <td>Emp Salary :</td>
                <td>@ViewData["Salary"]</td>
            </tr>
        </table>
    </div>
</body>
</html>
