
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Failure</title>
</head>
<body>
    <div>
        <h2>Hello @ViewData["User"], your given credentials are invalid.</h2>
    </div>
</body>
</html>
