@model MVCUIDesigning.Models.Customer
  <table border="1" align="center">
      <tr>
          <td>Customer Id:</td>
          <td>@Model.Custid</td>
      </tr>
      <tr>
          <td>Customer Name :</td>
          <td>@Model.Name</td>
      </tr>
      <tr>
          <td>Customer Account Type:</td>
          <td>@Model.Account</td>
      </tr>
  </table>
